@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="OrderManager">Manage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="New">New</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="ManageRoles">Roles</a>
            </li>
    }
    else
    {
    }
</ul>